# Azure SQL Database
DB_SERVER=sql-server-3tier-01.database.windows.net
DB_NAME=db-3tier-lab-01
DB_USER=sqladmin
DB_PASSWORD=MrMr.12121

# Azure Storage Account
STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=...

# App
PORT=3000
